{% extends 'base.html' %}


{% block content %}
  <h2 >Список ботов</h2>
  <ul>
    {% for bot in bots %}
      <li>{{ bot.name }} - {{ bot.token }}
        <a href="{% url 'send_message' bot.id %}" class="btn btn-primary">Сообщение</a>
        <a href="{% url 'edit_bot' bot.id %}" class="btn btn-primary">Редактировать</a>
        <a href="{% url 'delete_bot' bot.id %}" class="btn btn-primary">Удалить</a>
      </li>
    {% empty %}
      <li>Нет ботов</li>
    {% endfor %}
  </ul>
  <a href="{% url 'create_bot' %}" class="btn btn-primary" >Создать бота</a>
{% endblock %}
```