{% extends 'base.html' %}

{% block content %}
  <section class="main-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Контруткор ботов</h1>
          <p class="lead">Для того чтобы начать зарегестрируйтесь</p>
        </div>
        <div class="col-md-6">
         
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2021 Constructor. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}